<?php
/**
 * cloudflareDNSupdate
 * config.php
 *
 * @author Markus <markus@santmark.fi>
 * @copyright Markus 2015
 * @version 1.0
 * @license GPL
 */

// CloudFlare URL used for API access
$cfUrl = "https://www.cloudflare.com/api_json.html";

// CloudFlare API credentials
$config_auth = array(
  'tkn' => "[your token goes here]",
  'email' => "[your cloudflare email goes here]"
);

// List of domains to update DNS A-record with public IP
$config_domains = array(
  "www.example.com",
  "www.example.org",
  "chat.example.org"
);

?>
